@media (max-width: 1485px) {

    .me{
        height: 90%;
        top: 5%;
    }
    .me-container{
        padding-top: 20px;
    }

    .menu{
        margin-top: 12%;
    }
    .section-hero, .section-aboute, .section-resume,
    .section-portfolio, .section-skills, .section-contact{
        max-width: 50%;
    }
}