*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}
body{ 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2b2b2b;
    color: white;
}

.me{
    height: 70%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 15%;
    left: 20px;
    border: 1px solid #6e6e6e;
    color: white;
    overflow-x: hidden;
    border-radius: 20px;
}
.me-container{
    max-width: 300px;
    margin: auto;
    padding-top: 2rem;
}
.pre-present-me{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.pre-present-me h2{
    font-size: 40px;
}
.pre-present-me p{
    font-size: 17px;
    line-height: 26px;
}
.top-project-img{
    position: relative;
}
.img-me{
    width: 300px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.icon{
    margin: 15px;
    display: flex;
    justify-content: center;
    
}
.icon a{
    margin-right: 10px;
}
.icon a:last-child{
    margin-right: 0px;
}
.icon ion-icon{
    color: #b9b9b9;
    font-size: 22px;
}
.button{
    color: #2b2b2b;
    background-color: #28e98c;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px 0;
    border-radius: 20px;
}
/* .top-project{
    margin-top: 30px;
}
.top-project h2{
    color: white;
}
.top-image{
    margin-top: 20px;
    width: 350px;
    border: 2px solid greenyellow;
    margin-bottom: 20px;
}
.top-image-mobile{
    position: absolute;
    width: 100px;
    right: 20px;
    top: 45px;
    border: 2px solid greenyellow;
} */

/* ----------------------  right aside bar Meni  ---------------------------------*/
.menu{
    height: 285px;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 1.5%;
    right: 5%;
    border: 1px solid #6e6e6e;
    color: white;
    overflow-x: hidden;
    padding-top: 15px;
    border-radius: 50px;
    margin-top: 15%;
}
.menu-row{
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu-row ion-icon{
    color: #28e98c;
    font-size: 25px;
    transition: 0.5s;
}
.menu-row ion-icon:hover{
    color: white;
    transition: 0.5s;
}
.menu-row a{
    margin-bottom: 15px;
}
.menu-row a:last-child{
    margin-bottom: 0;
}


/* -----------------------------  Hero section ------------------------------- */

.section-hero, .aboute{
    max-width: 40%;
    margin-left: 35%;
    padding: 2rem 0;
    position: relative;
    border-bottom: 1px solid #555555;
}

.icon-head{
    display: inline-block;
    padding: 5px 20px;
    border: 1px solid #3b3b3b;
    border-radius: 20px;
}
.hero-row h1{
    margin-top: 60px;
    font-size: 60px;
    line-height: 70px;

}
.hero-paragraphe{
    margin-top: 30px;
    width: 550px;
    line-height: 25px;
    color: #a7a7a7;
}
.hero-experience{
    margin-top: 60px;
    display: flex;    
}
.hero-experience div{
    margin-right: 70px;
}
.hero-experience div h3{
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 10px;
    color: #28e98c;
}
.hero-experience div p{
    color: #a7a7a7;
    font-size: 13px;
}
.scroll-down{
    position: absolute;
    right: 0;
    font-size: 35px;
    color: #28e98c;
    bottom: 2.1rem;
    border-right: 2px solid #28e98c;
    border-bottom: 2px solid #28e98c;
    padding: 10px;
    border-radius: 20%;
}


/* ----------------------- aboute section ---------------------- */
.section-aboute{
    max-width: 40%;
    margin-left: 35%;
    padding: 4rem 0;
    position: relative;
    border-bottom: 1px solid #555555;
}
.section-aboute h2{
    margin-top: 30px;
    font-size: 35px;
    line-height: 50px;
}
.aboute-paragraph{
    margin-top: 30px;
    line-height: 25px;
    color: #a7a7a7;
    width: 650px;
}

/* ---------------- resume section ------------------- */

.section-resume{
    max-width: 40%;
    margin-left: 35%;
    padding: 4rem 0;
    position: relative;
    border-bottom: 1px solid #555555;
}
.section-resume h2{
    margin-top: 30px;
    font-size: 35px;
    line-height: 50px;
}
.resume-row{
    margin-top: 30px;
}
.item{
    border-left: 1px solid #555555;
    padding: 0 0 30px 100px; 
    position: relative;
}
.resume-item{
    margin-bottom: 10px;
}
.resume-date{
    display: flex;
    align-items: center;
    margin-left: -7.5px;
    cursor: pointer;
}
.resume-date:hover{
    color: #28e98c;
}
.resume-date div{
    padding: 0 0 0px 92px; 
    font-size: 17px;
}

.item h3{
    font-size: 25px;
    padding-top: 25px;
}
.item p{
    font-size: 16px;
    color: #a7a7a7;
    margin-top: 10px;
    
}
/* ---------------- portfolio section ------------------- */

.section-portfolio{
    max-width: 40%;
    margin-left: 35%;
    padding: 4rem 0;
    position: relative;
    border-bottom: 1px solid #555555;
}
.section-portfolio h2{
    margin-top: 30px;
    font-size: 35px;
    line-height: 50px;
}
.project{
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding: 40px 0px;
    width: 100%;
    border: 1px solid #555555;
    border-radius: 20px;
}
.project h3 {
    font-size: 25px;
}
.project p{
    margin-top: 20px;
    padding: 0 20px 0 0;
    color: #a7a7a7;
    margin-bottom: 20px;
}
.project-img{
    width: 300px;
    margin: 0 30px;
    border: 1px solid #3a3a3a;
    border-radius: 20px;
}
.button-site{
    padding: 5px 20px;
    background-color: #28e98c;
    color: #2b2b2b;
    border: 1px solid #28e98c;
    transition: 0.5s;
    border-radius: 20px;
}
.button-site:hover{
    background-color: #2b2b2b;
    border: 1px solid #28e98c;
    color: #28e98c;
    transition: 0.5s;
}

/* ---------------- skills section ----------------------------------- */

.section-skills{
    max-width: 40%;
    margin-left: 35%;
    padding: 4rem 0;
    position: relative;
    border-bottom: 1px solid #555555;
}
.section-skills h2{
    margin-top: 30px;
    font-size: 35px;
    line-height: 50px;
}

.skills-row{
    margin-top: 50px;
}
.skills-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.skills-item p{
    margin-top: 20px;
    font-size: 20px;
}

/* ---------------- contact section ----------------------------------- */

.section-contact{
    max-width: 40%;
    margin-left: 35%;
    padding: 4rem 0;
    position: relative;
}
.section-contact h2{
    margin-top: 30px;
    font-size: 35px;
    line-height: 50px;
}
.form{
    
    width: 100%;
    margin-top: 2rem;
}
.form div{
    display: flex;
    flex-direction: column;
}

.first-div div input{    
    margin-top: 10px;
    margin-bottom: 25px;
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: none;
    padding-left: 15px;
    font-size: 17px;
    background-color: #555555;
    color: white;
}
.second-div textarea{
    height: 110px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 17px;
    background-color: #555555;
    color: white;
    margin-top: 10px;
    border-radius: 20px;
}
.send-massage{
    padding: 10px 45px;
    background-color: #28e98c;
    border-radius: 20px;
    margin-top: 20px;
    border: 1px solid #28e98c;
    cursor: pointer;
    font-size: 17px;
    transition: 0.2s;
}
.send-massage:hover{
    background-color: #2b2b2b;
    color: #28e98c;
    transition: 0.2s;
}

.last-row{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #555555;
    display: flex;
    justify-content: space-between;
}
.mini-nav a{
    margin-right: 15px;
    color: #a7a7a7;
}
.icon-footer a{
    margin-left: 10px;
}
.icon-footer ion-icon{
    color: #a7a7a7;
    font-size: 17px;
}




/* -------------- scroll style ------------------ */

::-webkit-scrollbar {
    width: 7px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    border-radius: 0px;
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #28e98c; 
    border-radius: 0px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: white; 
}